.navButton {
   position: relative;
   padding: 10px;

   transition: var(--fade);
}



.navButton svg {
   font-size: 26px;
}

.navButton svg + * {
   margin-left: 20px;
   margin-right: 15px;
}

.navButtonSelected {
   color: var(--c-theme);
}

.notify {
   position: absolute;
   left: 20px;
   top: 5px;
   background-color: var(--c-theme);
   color: var(--c-text-color);
   font-size: 11px;
   height: 17px;
   padding-left: 6px;
   padding-right: 6px;
   border-radius: 17px;
   display: flex;
   align-items: center;
   border: 1px solid var(--c-primary);
}
